node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.local
*.log
.vite
dev-dist
samples/

xtts-server/.venv/
xtts-server/voices/*.wav

xtts-finetune/.venv/
xtts-finetune/dataset/wavs/
xtts-finetune/dataset/*.csv
xtts-finetune/output/
vite.config.d.ts
vite.config.js
tsconfig.tsbuildinfo
